nav ul {
    display: flex;             /* Activa el modo flexible */
    justify-content: center;   /* Centra los elementos horizontalmente */
    align-items: center;       /* Centra los elementos verticalmente */
    list-style: none;          /* Quita los puntos de la lista */
    padding: 0;
    margin: 0;
    background-color: #5F9EA0; /* Tu Azul Cadete */
}

nav ul li {
    margin: 0 15px;            /* Espacio entre cada opción del menú */
}
